@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  body {
    @apply bg-background text-foreground font-sans;
    overflow: hidden;
    /* Tauri title-bar drag region. We layer this on the chrome only. */
    -webkit-user-select: none;
    user-select: none;
  }
  input,
  textarea,
  [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
  }
  ::selection {
    background: hsl(0 72% 51% / 0.18);
  }
}

@layer utilities {
  .titlebar {
    -webkit-app-region: drag;
    app-region: drag;
  }
  .no-drag {
    -webkit-app-region: no-drag;
    app-region: no-drag;
  }
}
